<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Scripts/DataTables-1.10.9/css/jquery.dataTables.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/Scroller-1.3.0/css/scroller.dataTables.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables-1.10.9/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/Scroller-1.3.0/js/dataTables.scroller.js")"></script>

    
</head>
<body>
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
